#!/bin/bash

# Name of the application
NAME="region_management_celery"

# Django project directory
DJANGODIR="/home/region_management/region_management"

# Error logs
CELERY_LOG="/home/region_management/region_management/tmp/logs/celery.log"

# ---------------------------------------------------------------------------------------

# Change to project directory
cd $DJANGODIR

# Activate the virtual environment
source env/bin/activate

# Start your Django Celery
echo "Starting $NAME as `whoami`"

./env/bin/celery \
    --app=region_management.celery:app worker \
    --loglevel=INFO
    --logfile=$CELERY_LOG
